<!-- Floating Logo -->


<!-- Floating Glass Navbar -->
<header class="site-header navbar-glass" id="siteHeader">

    <div class="header-inner">

        <div class="header-brand"></div>

        <nav class="header-nav">

            <ul class="nav">

                <li><a href="/">Home</a></li>

                <!-- Resources -->
                <li class="nav-dropdown">
                    <a href="#" class="nav-dropdown-toggle">Resources</a>
                    <ul class="nav-dropdown-menu">
                        <li><a href="/resources/bingos/">Bingos</a></li>
                        <li><a href="/resources/alphabet-charts/">Alphabet Charts</a></li>
                        <li><a href="/resources/anchor-charts/">Anchor Charts</a></li>
                        <li><a href="/resources/natural-history/">Natural History</a></li>
                        <li><a href="/resources/modules/">Modules</a></li>
                        <li><a href="/resources/activities/">Activities</a></li>
                        <li><a href="/resources/theres-nothing-there/">There's Nothing There</a></li>
                    </ul>
                </li>

                <!-- Our Approach -->
                <li class="nav-dropdown">
                    <a href="#" class="nav-dropdown-toggle">Our Approach</a>
                    <ul class="nav-dropdown-menu">
                        <li><a href="/our-approach/pedagogy/">Nature Classrooms Pedagogy</a></li>
                        <li><a href="/our-approach/framework/">Nature Learning Framework</a></li>
                    </ul>
                </li>

                <!-- Our Work -->
                <li class="nav-dropdown">
                    <a href="#" class="nav-dropdown-toggle">Our Work</a>
                    <ul class="nav-dropdown-menu">
                        <li><a href="/our-work/resource-creation/">Resource Creation</a></li>
                        <li><a href="/our-work/workshops/">Capacity Building & Training</a></li>
                        <li><a href="/our-work/research/">Research</a></li>
                        <li><a href="/our-work/outreach/">Outreach & Public Engagement</a></li>
                    </ul>
                </li>

                <!-- About -->
                <li class="nav-dropdown">
                    <a href="#" class="nav-dropdown-toggle">About Us</a>
                    <ul class="nav-dropdown-menu">
                        <li><a href="/about/vision/">Vision & Goals</a></li>
                        <li><a href="/about/team/">Meet the Team</a></li>
                        <li><a href="/about/media/">NC in Media</a></li>
                    </ul>
                </li>

                <li><a href="/blog/">Blog</a></li>

            </ul>

        </nav>

      

    </div>

</header>
