<!-- Floating Logo -->


<!-- Floating Glass Navbar -->
<header class="site-header navbar-glass" id="siteHeader">

    <div class="header-inner">

        <div class="header-brand"></div>

        <nav class="header-nav">

            <ul class="nav">

                <li><a href="/">Home</a></li>

                <!-- Resources -->
                <li class="nav-dropdown">
                    <a href="/resources/" class="nav-dropdown-toggle">Resources</a>
                    <ul class="nav-dropdown-menu">
                        <li><a href="/resources/bingos/">Bingos</a></li>
                        <li><a href="/resources/alphabet-charts/">Alphabet Charts</a></li>
                        <li><a href="/resources/anchor-charts/">Anchor Charts</a></li>
                        <li><a href="/resources/natural-history/">Natural History</a></li>
                        <li><a href="/resources/modules/">Modules</a></li>
                        <li><a href="/resources/activities/">Activities</a></li>
                        <li><a href="/resources/theres-nothing-there/">There's Nothing There</a></li>
                    </ul>
                </li>

                <!-- Our Approach -->
                <li class="nav-dropdown">
                    <a href="/our-approach/" class="nav-dropdown-toggle">Our Approach</a>
                    <ul class="nav-dropdown-menu">
                        <li><a href="/our-approach/#pedagogy">Nature Classrooms Pedagogy</a></li>
                        <li><a href="/our-approach/#framework">Nature Learning Framework</a></li>
                    </ul>
                </li>

                <!-- Our Work -->
                <li class="nav-dropdown">
                    <a href="#" class="nav-dropdown-toggle">Our Work</a>
                    <ul class="nav-dropdown-menu">
                        <li><a href="/resourcecreation/">Resource Creation</a></li>
                        <li><a href="/capacity/">Capacity Building & Training</a></li>
                        <li><a href="/research/">Research</a></li>
                        <li><a href="/outreach/">Outreach & Public Engagement</a></li>
                    </ul>
                </li>

                <!-- About -->
                <li class="nav-dropdown">
                    <a href="/about/" class="nav-dropdown-toggle">About Us</a>
                    <ul class="nav-dropdown-menu">
                        <li><a href="/about/#vision">Vision & Goals</a></li>
                        <li><a href="/media/">NC in Media</a></li>
                    </ul>
                </li>

                <li><a href="/blog/">Blog</a></li>

                <!-- Search Button -->
                <li class="search-nav-item">
                    <button class="search-toggle" id="searchToggle" aria-label="Search">
                        {{> "icons/search"}}
                    </button>
                    <div class="search-dropdown-panel" id="searchDropdown">
                        <div class="search-input-wrapper">
                            <span class="search-icon-inside">{{> "icons/search"}}</span>
                            <input type="text" class="search-input-field" id="searchInput"
                                placeholder="Search resources, blog, work..." autocomplete="off">
                        </div>
                        <ul class="search-results-list" id="searchResults"></ul>
                    </div>
                </li>

            </ul>

        </nav>



    </div>

</header>